
.card-login {
  max-width: 400px;
  width: 100%;  
  margin: 0 auto;  
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}

.full-height-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 20px;
}

body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;  
}

